body,
html {
  width: 100%;
  height: 100%;

  background: url("anuj.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h2 {
  color: darkslateblue;
  text-align: center;
}
hr {
  background-color: white;
  border-width: 3px;
  max-width: 65px;
}
.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}
.btn-primary {
  text-align: center;
  background-color: lightseagreen;
  border: lightseagreen;
}
.btn-primary:hover {
  background-color: rgba(216, 202, 196, 0.05);
  border-color: rgb(92, 46, 29);
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}
